@import '/src/variables';

section {
    @include nav;
    height: 115px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    padding-inline: 1rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}

img {
    height: inherit;
}

nav {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-self: center;

    // mobile fist

    display: none;
}



a {
    text-decoration: none;
    color: white;
    grid-row: 1;
    position: relative;

    &.active::after{
        @include underline(6%);
    }

    &:last-child {
        color: yellow;
        margin-left: auto;

        &.active {
            color: white;
            &::after{
               background-color: $yellow-200; 
            } 
        }
    }
}

nav {
    width: 100%;
    gap: 1rem;
    display: grid;
    grid-template-columns: auto auto auto auto 1fr;
    grid-auto-flow: row dense;
    justify-self: center;
}

a {
    text-decoration: none;
    color: white;
    grid-row: 1;

    &:last-child {
        color: yellow;
        grid-row: 1;
        grid-column: -1;
    }
}

.menu {
    display: unset;
}

@include devices(tablet) {
    .menu {
        display: block;
        width: 50px;
        justify-self: flex-end;
        padding: 10px;
        cursor: pointer;
    
        .strip {
            width: 100%;
            height: 5px;
            background: white;
            &:not(:last-child) {
                margin-bottom: 0.5rem;    
            }
        }
    
    }

    nav {
        display: none;
        
        &.open {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: #262626;
            top: 115px;
            width: max-content;
            padding: 1.2rem;
            right: 0;
            text-align-last: right;
            align-items: flex-end;
            z-index: 2;
        }
    }

}