$black-100: #706b6c;
$black-200: #262626;
$black-300: #201E1F;
$green-100: #409B31;
$green-200: #107400;
$green-300: #1C6D4D;
$red-100: #FF6A6A;
$red-200: #FF4040;
$red-300: #EC3237;
$yellow-100: #FBE72F;
$yellow-200: #FBE72F;
$yellow-300: #FBB52F;

$ff-body: 'Kanit', sans-serif;
$ff-enphesis: 'Kameron', serif;

:root {
    --xs: 16px;
    --sm: 20px;
    --md: 24px;
    --lg: 32px;
    --xl: 36px;
    --xxl: 48px;
    --m: 64px;
}

$size-xs: var(--xs);
$size-sm: var(--sm);
$size-md: var(--md);
$size-lg: var(--lg);
$size-xl: var(--xl);
$size-xxl: var(--xxl);
$size-m: var(--m);

$fw-light: 300;
$fw-reguler: 400;
$fw-semiBold: 600;
$fw-bold: 700;


@mixin body-header {
    font-family: $ff-body;
    font-size: $size-xl;
    font-weight: $fw-semiBold;
    color: black;
}

@mixin body-sub-header {
    font-family: $ff-body;
    font-size: $size-md;
    font-weight: $fw-semiBold;
    color: black;
}

@mixin body-sub-header-emphasis {
    font-family: $ff-body;
    font-size: $size-md;
    font-weight: $fw-semiBold;
    color: $black-100;
}

@mixin body-text {
    font-family: $ff-body;
    font-size: $size-md;
    font-weight: $fw-reguler;
    color: black;
}

@mixin home-intro {
    font-family: $ff-body;
    font-weight: $fw-reguler;
    font-size: $size-lg;
}

@mixin home-outro {
    font-family: $ff-enphesis;
    font-weight: $fw-bold;
    font-size: $size-lg;
}

@mixin nav {
    font-family: $ff-body;
    font-size: $size-sm;
    font-weight: $fw-semiBold;
    color: white;
    background-color: $black-200;
}

@mixin underline($spacers, $color: $red-200, $height: 3px, $gap: 1px) {
    content: '';
    position: absolute;
    bottom: -.3rem;
    left: $spacers;
    right: $spacers;
    height: $height;
    background-color: $color;
    bottom: -5px;
}

@mixin heading-decoration {
    position: relative;
    padding-left: calc($size-m + .5rem);
    &::before {
        content: '';
        position: absolute;
        width: $size-xxl;
        height: 10px;
        background-color: $red-300;
        left: 0;
        top: 22px;
    }
}

@mixin devices ($breakpoint) { //the name of the mixin is devices
  
  @if $breakpoint == small-laptop {    
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
  
  @if $breakpoint == tablet {    
    @media only screen and (max-width: 1000px) {
      @content;
    }
  }
  
  @if $breakpoint == fold-open {    
    @media only screen and (max-width: 680px) {
      @content;
    }
  }
 
  @if $breakpoint == mobile {
    @media only screen and (max-width: 481px) {
      @content;
    }
  }
}

