@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=Kanit:ital,wght@0,300;0,600;0,700;1,300;1,400&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'src/variables';


app-root {
  max-width: 900px;
  margin: 0 auto;
}

// CSS Reset by #JoshWcomeau
/*
  1. Use a more-intuitive box-sizing model.
*/

.my-footer {
  z-index: 2;
}

body {
  
  font-family: $ff-body;
  // font-size: 20px;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
    img, picture, video, canvas, svg {
      display: block;
      // max-width: 100%;
    }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  font-size: $size-sm;
  font-weight: $fw-semiBold;
  padding: .8rem;
  margin-top: $size-xs;
  outline: none;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}


@include devices(tablet) {
  :root {
      --xs: 14px;
      --sm: 16px;
      --md: 20px;
      --lg: 24px;
      --xl: 32px;
      --xxl: 36px;
      --m:  48px;
  }
}


@include devices(fold-open) {
  :root {
      --xs: 12px;
      --sm: 14px;
      --md: 16px;
      --lg: 20px;
      --xl: 24px;
      --xxl: 32px;
      --m: 36px;
  }
}


@include devices(mobile) {
  :root {
      --xs: 10px;
      --sm: 12px;
      --md: 14px;
      --lg: 16px;
      --xl: 20px;
      --xxl: 24px;
      --m: 28px;
  }
}
